{:source-paths ["src"]
 :dependencies [[reagent "0.8.0-alpha2"]
                [cljs-ajax "0.7.3"]]
 :http {:port 3449}
 :nrepl {:port 7888}
 :builds {:app {:output-dir "resources/public/"
                :asset-path "."
                :target :browser
                :modules {:main {:entries [app.main]}}
                :devtools {:after-load app.main/reload!
;;                           :http-root "resources/public/"
;;                           :http-resource-root "resources/public/js"
                           :http-host "127.0.0.1"
                           :http-port 8080}}}}
