{:source-paths ["src" "test"]

 :dependencies [[reagent "0.8.1"]
                [cljs-ajax "0.8.0"]]

 :builds {:app {:output-dir "resources/public/js"
                :asset-path "/js"
                :target :browser
                :modules {:main {:entries [app.main]}}
                :devtools {:http-port 8080
                           :http-root "resources/public/"}}}
}
